.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector2 {
  position: absolute;
  left: 8.3333%;
  right: 8.3333%;
  top: 12.5%;
  bottom: 11.0417%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
